/*--------------------------------------------------------------
# Base Typography
--------------------------------------------------------------*/
body {
  font-family: $font-default;
  color: $text-color;
}

body,
input,
select,
textarea {
  font-family: $font-default;
}

a {
  color: $links;
  transition: 0.5s;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $links-hover;
    outline: none;
    text-decoration: none;
  }

  &.link-default {
    display: block;
    position: relative;
    color: rgba($text-color, 0.9);
    transition: 0.3s;
    // font-size: 15px;
    padding: 0 3px;
    font-weight: $fw-bold;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $primary;
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  }
}

a.link-default:hover:before,
li:hover > a.link-default:before,
.active > a.link-default:before {
  visibility: visible;
  width: 100%;
}

a.link-default:hover,
.active > a.link-default,
li:hover > a.link-default {
  color: $primary;
}

strong,
b {
  font-weight: $fw-bold;
}

em,
i {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0 0 1.2rem 0;
  font-weight: $fw-light;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-color;

  &.title-line {
    font-size: 2.675rem;
    font-weight: 700;
    line-height: 1.175;
    // text-transform: uppercase;
    color: $white;
    position: relative;
    margin-bottom: 1rem;

    @media screen and (max-width: 1200px) {
      font-size: 2.375rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 2.175rem;
    }

    @media screen and (max-width: 992px) {
      font-size: 2.475rem;
    }
    small {
      display: block;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    &::before {
      width: 150px;
      height: 3px;
      margin-bottom: 1rem;
      display: block;
      background-color: $white;
      content: "";
    }
  }
}
